<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tender</title>
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="tender/tender_table"> Tender</a> </li>
            <li><a href="#"></a> Corrigendum</li>
            <li><a href="#"></a>e-Procurement </li>
            <li><a href="#"></a> Empanelment of vendors</li>
            <li><a href="#"></a> Enquiry</li>
            <li><a href="#"></a> GeM Tenders</li>
        </ul>
        <div>
            <ul>
                <a href="tender/tender_archive">Tender archive</a>
            </ul>
        </div>
    </div>
</body>
</html>